<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dola Vision</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="row">
    <div class="col-md-8">
    <video id="stream" width="800" height="600" autoplay></video>
    </div>
    
    <div class="col-md-4">
      <div class="row">
      <button id="label_snap" class="btn btn-primary col-md-4">Snap & Label</button>
      <button id="landmark_snap" class="btn btn-primary col-md-4">Recognize Landmark</button>
      <button id="ocr_snap" class="btn btn-primary col-md-4">OCR</button>
      </div>
    
    
    
    <div class="row">
      <canvas id="canvas" width="400" height="300"></canvas>
    </div>
    
    <div class="row">
      <div class="alert alert-info col-md-8">Detection Result:</div>
    </div>
    
    <div class="row">
      <div id="message" class="alert alert-info col-md-8">nothing yet</div>
    </div>
    
    </div>
  </div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
    // setup camera
    var video = document.getElementById("stream");  
    var errBack = function(err) {
      console.log(err);
    };
      
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }
    else if(navigator.getUserMedia) { // Standard
        navigator.getUserMedia({ video: true }, function(stream) {
            video.src = stream;
            video.play();
        }, errBack);
    } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
        navigator.webkitGetUserMedia({ video: true }, function(stream){
            video.src = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
    } else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
        navigator.mozGetUserMedia({ video: true }, function(stream){
            video.src = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
    }
    else {
      console.log("Your device doesn't have a usable camera");
    }
    // catpure the image
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    
    var getBase64Image = function(canvas) {
      // encode image into base64 string from a canvas
      var dataURL = canvas.toDataURL("image/png");
      return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    };
    
    document.getElementById("label_snap").addEventListener("click", function(evnt){
      //context.clearRect(0, 0, context.canvas.width, context.canvas.height);
      context.drawImage(video, 0, 0, context.canvas.width, context.canvas.height);
      var imageContent = getBase64Image(canvas);
      //console.log(imageContent);
      $.ajax({
        url: "/detect_label",
        method: "POST",
        data: {
          image64: imageContent
        },
        success: function( result ) {
          console.log("succeeded posting to detect_label");
          console.log(result);
          $("#message").html(result.label);
        }
      });
    });
    
    document.getElementById("landmark_snap").addEventListener("click", function(evnt){
      //context.clearRect(0, 0, context.canvas.width, context.canvas.height);
      context.drawImage(video, 0, 0, context.canvas.width, context.canvas.height);
      var imageContent = getBase64Image(canvas);
      //console.log(imageContent);
      $.ajax({
        url: "/detect_landmark",
        method: "POST",
        data: {
          image64: imageContent
        },
        success: function( result ) {
          console.log("succeeded posting to detect_landmark");
          console.log(result);
          $("#message").html(result.landmark);
        }
      });
    });
    
    document.getElementById("ocr_snap").addEventListener("click", function(evnt){
      //context.clearRect(0, 0, context.canvas.width, context.canvas.height);
      context.drawImage(video, 0, 0, context.canvas.width, context.canvas.height);
      var imageContent = getBase64Image(canvas);
      //console.log(imageContent);
      $.ajax({
        url: "/detect_ocr",
        method: "POST",
        data: {
          image64: imageContent
        },
        success: function( result ) {
          console.log("succeeded posting to detect_ocr");
          console.log(result);
          $("#message").html(result.ocr);
        }
      });
    });
    </script>
  </body>
</html>